<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-TW" xml:lang="zh-TW" dir="<$BlogLanguageDirection$>">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>
		<$BlogPageTitle$>
	</title>
	<link href='http://2.bp.blogspot.com/-al-2QJHDr2Y/T19dfDwc-cI/AAAAAAAAEA8/pVCCkMu_BWQ/s0/mikuradio.png' rel='icon'
		type='image/x-icon' />
	<link href='http://2.bp.blogspot.com/-al-2QJHDr2Y/T19dfDwc-cI/AAAAAAAAEA8/pVCCkMu_BWQ/s0/mikuradio.png'
		rel='Bookmark' />
	<link href='http://2.bp.blogspot.com/-al-2QJHDr2Y/T19dfDwc-cI/AAAAAAAAEA8/pVCCkMu_BWQ/s0/mikuradio.png'
		rel='shortcut icon' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
	<script type="text/javascript">
		(function () {
			//No country redirect
			var regex = new RegExp(/\.blogspot\.(com\...\/|..\/)/);
			if (document.URL.match(regex)) {
				var url = document.URL;
				url = url.replace(url.match(regex)[0], ".blogspot.com\/ncr\/");
				document.location = url;
			}
		}());
/* </head> */</script>
	<style>
		body {
			margin: 0 auto;
			background: #fff url(https://lh6.googleusercontent.com/-e4Cb1LegSxE/UId389VHJMI/AAAAAAAAEjM/Y1gn9ddap0w/s0/1347632559813.jpg) center center fixed no-repeat;
			-moz-background-size: cover;
			background-size: cover;
		}

		.miku {
			color: #39C5BB;
		}

		.player {
			width: 100vw;
			aspect-ratio: 16 / 9;
		}

		@media screen and (min-width: 576px) {
			.player {
				width: 100%;
				min-width: 514px;
			}
		}

		.list {
			overflow-y: scroll;
			height: 600px;
		}

		.smallList {
			display: none;
		}

		@media screen and (min-width: 768px) {
			.smallList {
				display: block;
			}
		}
	</style>
</head>
<!-- <body> -->

<body>
	<div id="app" class="container text-center">
		<div class="row pb-2 pt-2">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<p class="h1 miku">MikuRadio</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col player">
						<div id="player"></div>
					</div>
				</div>
				<div class="row row-cols-auto pb-2">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
									<button type="button" class="btn btn-outline-primary" @click="handlePlayPrevious">
										<i class="bi bi-chevron-bar-left"></i>
									</button>
									<button type="button" class="btn btn-outline-primary" @click="handlePlay">
										<i class="bi bi-play"></i>
									</button>
									<button type="button" class="btn btn-outline-primary" @click="handleStop">
										<i class="bi bi-stop"></i>
									</button>
									<button type="button" class="btn btn-outline-primary" @click="handlePlayNext">
										<i class="bi bi-chevron-bar-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row pb-2">
					<div class="col-12">
						<div class="card">
							<h5 class="card-header miku">Play Status</h5>
							<div class="card-body">
								<p class="card-text">
									Query: {{query}}
								</p>
								<p class="card-text">
									Match: {{title}}
								</p>
								<p class="card-text">
									Artist: {{artist}}
								</p>
								<p class="card-text">
									Speed: {{speed}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<h5 class="card-header miku">Play List</h5>
					<div class="card-body list">
						<table class="table">
							<tbody>
								<tr :class="{'table-primary': key === trackId}" v-for="(item, key) in tracks"
									:key="item.id">
									<td style="cursor: pointer" @click="selectPlay(key)">{{item.title}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-2" v-if="help">
			<div class="col">
				<div class="card">
					<h5 class="card-header miku">初音ミクラジオ 牛肉麺版(Gyu Niku Men)</h5>
					<div class="card-body">
						<p class="card-text text-left">
							音樂清單：<a target="_blank"
								href="https://docs.google.com/spreadsheet/pub?key=0AsHdyDgIiLuHdEI1UExBMWNqWlB1QlI1RVl4eGtyWVE&output=html">打開</a><br />
							<br />
							概念啟發：<br />
							發現朋友在使用Youtube播放清單時，出現了廣告還有被封鎖的音樂還頗困擾的。<br />
							<br />
							原理說明：<br />
							由Google雲端硬碟讀取隨機初音ミク音楽清單，使用Youtube Data
							API搜尋關鍵字第一筆的影片進行播放，若搜尋發生異常時則跳至下一首，因此搜尋之結果不保證百分百準確:p<br />
							<br />
							更新履歷：<br />
							[陽春麵版]<br />
							[0.1.0] 隨機清單播放架構 - 2012.3.12<br />
							[0.1.1] Help(?)、去除關鍵字『太鼓、歌ってみた』、上下曲、重複播放 - 2012.3.13<br />
							[0.1.2] IE BUG修正進度50% - 2012.3.14<br />
							[0.1.3] 修改清單關鍵字格式 - 2012.3.17<br />
							[0.1.4] 修正Sharp標題錯誤 - 2012.11.21<br />
							[鍋燒烏龍麵版]<br />
							[0.2.0] 操作介面改版、資訊處理改版 - 2014.5.7<br />
							[0.2.1] 加入播放模式、循環模式、播放清單 - 2014.5.8<br />
							[0.2.2] 加入404找不到影片 - 2014.5.12<br />
							[0.2.3] 更新Youtube搜尋引擎 - 2015.4.21<br />
							[0.2.4] 修正搜尋失敗的問題 - 2015.5.18<br />
							[0.2.5] 更新Youtube搜尋引擎 - 2015.11.3<br />
							[0.2.6] 加入隱私條款 - 2020.5.18<br />
							[牛肉麺版]<br />
							[0.3.0] UI、API 重構 - 2023.2.9<br />
							<br />
							後台管理：<a href="https://www.blogger.com/blog/themes/3720255552847333016">Blogspot</a><br />
							<br />
							作者後記：<br />
							由於bpm選曲功能還在修羅場中(明明就沒有很難XD)，<br />
							有想要加入的曲名可在 <a target="_blank" href="https://chatboxy.blogspot.com/">聊天室</a>
							留言，但不保證都會加就是了(咦!?)<br />
							<br />
							此網站皆由 QQBoxy 製作設計。<br />
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-2">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<p class="card-text">
							YouTube Terms of Service (<a href="https://www.youtube.com/t/terms">ToS</a>)、
							Google Privacy Policy(<a
								href="//www.google.com/policies/privacy">http://www.google.com/policies/privacy</a>)<br />
							<span style="cursor: help" @click="help = !help">(?)</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://apis.google.com/js/api.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js"></script>
	<script type="text/javascript">
		const YOUTUBE_EMBEDDED_PLAYER_API_KEY = "";
		const YOUTUBE_EMBEDDED_PLAYER_API_CLIENT_ID = "";
		const YOUTUBE_DATA_API_KEY = "";

		const { createApp } = Vue;

		const vueApp = createApp({
			data() {
				return {
					player: null,
					done: false,
					list: [],
					count: 0,
					tracks: [],
					trackId: 0,
					query: "",
					title: "",
					artist: "",
					speed: 0,
					help: false,
				};
			},
			methods: {
				async selectPlay(key) {
					this.trackId = Number.parseInt(key, 10);
					await this.handlePlay();
				},
				async handlePlay() {
					console.log("this.trackId", this.trackId);
					const track = this.tracks[this.trackId];
					const { title, videoId } = await this.search(track.title);

					this.query = track.title;
					this.artist = track.artist;
					this.speed = track.speed;
					this.title = title;

					this.player.loadVideoById({
						videoId: videoId,
						suggestedQuality: 'default'
					});
				},
				async handlePlayNext() {
					this.trackId = (this.trackId + 1) % this.count;
					await this.handlePlay();
				},
				async handlePlayPrevious() {
					this.trackId = this.trackId <= 0 ? this.count - 1 : this.trackId - 1;
					await this.handlePlay();
				},
				async handleStop() {
					this.player.stopVideo();
				},
				async shuffle() {
					this.tracks = [...this.list];
					for (let i = this.tracks.length - 1; i > 0; i--) {
						let j = Math.floor(Math.random() * (i + 1));
						[this.tracks[i], this.tracks[j]] = [this.tracks[j], this.tracks[i]];
					}
					this.trackId = 0;
				},
				start() {
					gapi.client.init({
						'apiKey': YOUTUBE_EMBEDDED_PLAYER_API_KEY,
						'discoveryDocs': ['https://people.googleapis.com/$discovery/rest'],
						'clientId': YOUTUBE_EMBEDDED_PLAYER_API_CLIENT_ID,
						'scope': 'profile',
					}).then(function () {
						return gapi.client.people.people.get({
							'resourceName': 'people/me',
							'requestMask.includeField': 'person.names'
						});
					}).then(function (response) {
						console.log(response.result);
					}, function (reason) {
						console.log('Error: ' + reason.result.error.message);
					});
				},
				initYoutube() {
					const self = this;
					this.player = new YT.Player('player', {
						height: '100%',
						width: '100%',
						videoId: '',
						playerVars: {
							// 'autoplay': 1,
							'playsinline': 1
						},
						events: {
							'onReady': self.onPlayerReady,
							'onStateChange': self.onPlayerStateChange,
							'onError': self.onPlayerError
						}
					});
				},
				onPlayerReady(event) {
					console.log("onPlayerReady");
				},
				async onPlayerStateChange(event) {
					console.log("onPlayerStateChange");
					if (event.data == YT.PlayerState.ENDED) {
						await this.handlePlayNext();
					}
				},
				async onPlayerError() {
					console.log("onPlayerError");
					await this.handlePlayNext();
				},
				async search(query) {
					const response = await axios({
						method: 'get',
						url: "https://www.googleapis.com/youtube/v3/search",
						params: {
							key: YOUTUBE_DATA_API_KEY,
							type: "video",
							part: "snippet",
							maxResults: 1,
							q: query
						},
					});
					return {
						title: response.data.items[0].snippet.title,
						videoId: response.data.items[0].id.videoId,
					};
				},
				async getList() {
					const response = await axios({
						method: 'get',
						url: "https://script.google.com/macros/s/AKfycbzMCw3Z_NQ6FQSQZ0gD_G5x2bqg_APTRWKb1yYzurdntZ8ZnsjMNdR8c8t-OTLIMnp9Pw/exec",
						params: {
							method: "read_all",
						},
					});
					const { list, count } = response.data;
					this.list = list.map((item, key) => ({
						id: key,
						...item,
					}));
					this.count = count;
				}
			},
			async mounted() {
				const self = this;
				gapi.load('client', self.start);
				await this.getList();
				await this.shuffle();
				await this.handlePlay();
			},
		}).mount('#app');

		window.onYouTubeIframeAPIReady = () => {
			console.log("onYouTubeIframeAPIReady");
			vueApp.initYoutube();
		};
	</script>
	<!-- </body> -->
</body>

</html>